/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/.idea/
/.shadow-cljs/
/node_modules/
/public/js/
/public/css/
/cljs-tailwind-template.iml
/package-lock.json
/yarn.lock
